* {
    border:        none;
    border-radius: 0;
    font-family:   "SF Pro";
    font-size:     13px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
}

window#waybar {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
}

window#waybar.solo {
    color: rgba(53, 185, 171, 1);
}

#workspaces, #mode, #battery, #cpu, #memory, #network, 
#pulseaudio, #idle_inhibitor, #temperature,#custom-layout,
#tray, #clock, #backlight, #tray {
    margin: 5px 3px 6px 3px;
    padding: 2px 11px 0 10px;
    background: rgba(200, 200, 200, 0.25);
    border-radius: 12px;
}

#cpu, #temperature, #idle_inhibitor, #backlight {
    padding-top: 0;
}

/* Padding to even out both sides due to icon width */
#cpu { padding-right: 14px; }
#memory { padding-right: 11.3px; }
#pulseaudio, #backlight { padding-right: 12px; }
#clock { padding-right: 10px; padding-left: 9px; }
#battery { padding-right: 4px; }
#network { padding-right: 9.5px; }

#workspaces {
    margin-left: 10px;
    padding-left: 7px;
    padding-right: 6px;
}

#workspaces button {
    padding: 0 4px;
}

#workspaces button.active {
    color: rgb(83, 193, 237);
}

#window {
    margin-left: 20px;    
    margin-right: 20px;
}

#clock {
    margin-right: 10px;
    /* Monospaced numbers to stop the clock from changing width */
    font-feature-settings: "tnum"; 
}

#tray:hover {
    min-width: 100px;
    background: red;
}
